.top {
    color:#fff;
    text-align: center;
    background-image: url("../img/top.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

.top h1 {
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 30px;
}

.top-text {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
}

.middle {
    color: #FF99FF;
    text-align: center;
    background-image: url("../img/middle.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 8%;
    height: 100vh;
}

.middle h2 {
    font-size: 7vh;
    color: #333333;
    margin-bottom: 35px;
}
.middle p {
    font-size: 4vh;
}

.bottom {
    background-color: #f5de0c;
    opacity: 0.7;
    padding:8%;
    height: 100vh;
}
.bottom h2 {
    color:#FF99FF;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    width: 200px;
    margin: 0 auto 30px;
}
.bottom p {
    text-align: center;
    color:#333333
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 7%;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FF99FF 0%, #FFDDFF 100%);
    transition: .4s;
}
  
.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FF99FF 0%, #FFDDFF 100%);
}

.modal-title {
    font-size: 18px;
    text-align: center;
    background: #fff;
    fon
}
