body {
    max-width: 1000px;
    margin: 0 auto;
}
.top {
    color:#fff;
    text-align: center;
    background-image: url("../img/top.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}

.top h1 {
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 30px;
}

.top-text {
  position: absolute;
  top: 35%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
}

.middle {
    color: #FF99FF;
    text-align: center;
    background-image: url("../img/middle.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    padding: 8%;
    height: 100vh;
}

.middle h2 {
    font-size: 7vh;
    color: #333333;
    margin-bottom: 35px;
}
.middle p {
    font-size: 4vh;
}

.bottom {
    background-color: #f5de0c;
    opacity: 0.7;
    padding:8%;
    height: 100vh;
}
.bottom h2 {
    color:#FF99FF;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    width: 200px;
    margin: 0 auto 30px;
}
.bottom p {
    text-align: center;
    color:#333333
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 7%;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FF99FF 0%, #FFDDFF 100%);
    transition: .4s;
}
  
.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #FF99FF 0%, #FFDDFF 100%);
}

.modal-title {
    font-size: 18px;
    text-align: center;
    background: #fff;
}

/* UserPage */

.main {
    background-color: #FFE4E1;
}

.addphoto {
    display: flex;
    justify-content: center;
}

/* PhotoButton */
.slick-prev:before, .slick-next:before {
    display: none;
}
.slick-slider {
    width: 90%;
    margin: 0 auto;
}

/* MenuModal */
.MuiButton-outlinedPrimary {
    border: 1.5px solid #FF99CC!important;
    background-color: #FFFAFA!important;
}

.MuiDialog-paperFullScreen{
    background-color: #FFE4E1!important;
}
.MuiAppBar-colorPrimary {
    background-color: #FFE4E1!important;
}

.MuiIconButton-label {
    width: 5%!important;
    border-radius: 10px!important;
}
.MuiListItem-button {
    text-align: center!important;
}
.MuiListItem-root {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}
.MuiDialog-paperFullScreen {
    max-width: 1000px!important;
}
.slick-dots li button:before {
    color:#CD5C5C!important;
    margin-top: 10px!important;
}


/* My Baby */
.text1 {
    height: 60px;
    text-align: center;
    color:#333333;
    line-height: 55px;
    background: -moz-linear-gradient(top, #FFC0CB, #FFF);
    background: -webkit-linear-gradient(top, #FFC0CB, #FFF);
    background: linear-gradient(to bottom, #FFC0CB, #FFF);
}
/* .MuiInputBase-input {
    height: 5px!important;
} */

.mybaby_ul {
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.mybaby_ul li{
    list-style: none;
    padding: 0px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.mybaby_ul li:hover{
    opacity: 0.6;
}
.mybaby_ul li img{
    list-style: none;
    padding: 10px;
}
.mybaby_ul li:first-child{
    list-style: none;
    background-color: #6495ED;
}
.mybaby_ul li:nth-child(2){
    list-style: none;
    background-color: #FFC0CB;
}
.contents {
    display: flex;
    justify-content: space-around;
}

/* FirstMemory */
.firstcontents {
    padding: 20px;
}
.nondata {
    padding: 20px;
}
.nondata p{
   text-align: center;
}
.search-box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.editDialog {
    width: 600px!important;
    height: 300px!important;
}
/* share */
.info-box {
    margin: 50px;
}
.allergies_ul {
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.allergies_ul li{
    list-style: none;
    padding: 0px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.allergies_ul li:hover{
    opacity: 0.6;
}
.allergies_ul li img{
    list-style: none;
    padding: 10px;
}
.allergies_ul li:first-child{
    list-style: none;
    background-color: #DCC2FF;
}
.allergies_ul li:nth-child(2){
    list-style: none;
    background-color: #B1F9D0;
    margin-right: 20px;
}
/* ShareInfoData */
.under{
    background: linear-gradient(transparent 70%, #ff99ab 70%);
    margin-right: 10px;
}
.share-info-contents {
    margin: 50px;
}
.change-color {
    background-color:#000000!important;
    opacity:0.8!important;
}

/* Calendar */
.react-calendar__tile {
    padding: 2.5em 1.5em !important;
}
/* .react-calendar__tile:enabled:focus {
    background:none!important;
}
.react-calendar__tile:enabled:hover{
    background: none!important;
} */
